{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Healthy Competition{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Healthy Competition</h1>
        <nav>
            <div id="nav-bar">
            <ul>
                <li><a href="{% url 'index' %}">Home Page</a></li>               

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">My Profile</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'competition_list' %}">Competitions</a></li>

                    <!--Allows the user to logout, needs to use post due to CSRF protection-->
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>   
                {% endif %}

            </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Healthy Competition</p>
    </footer>
</body>
</html>
