{% extends 'base.html' %}
{% block content %}
    <h2>Competitions</h2>
    <a href="{% url 'create_competition' %}">Create a New Competition</a>
    <ul>
        {% for competition in competitions %}
            <li>
                {{ competition.name }} - {{ competition.start_date }} to {{ competition.end_date }} -
                {% if user.is_authenticated %}
                    <form action="{% url 'join_competition' competition.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Join Competition</button>
                    </form>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'competition_detail' competition.id %}">
                  {{ competition.name }}
                </a> – {{ competition.start_date }} to {{ competition.end_date }}
              </li>
        {% endfor %}
    </ul>
{% endblock %}
