{% extends "base.html" %}
{% block content %}
  <h2>Home</h2>
  <p>
    Welcome to Healthy Competition, a fun and motivating way to stay active with friends, 
    family, or coworkers. This platform lets you track your steps and workouts, set up 
    friendly fitness challenges, and see how everyone’s doing along the way. 
    Whether you're training for a goal or just trying to get moving a little more each day, 
    Healthy Competition makes it easier—and a lot more fun—to stay on track. 
  </p>
<div id="home-page">
  {% if user.is_authenticated %}
  <a href="{% url 'competition_list' %}">Competition List</a>
  {% else %}
  <ul>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>   
  </ul>
  {% endif %}
 </div> 
{% endblock %}
